*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --first-color: #97CA3F;
    --second-color: #f7d832;
    --very-light-pink: #4c4d4c;
    --footer-background:#202124;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --gray-green: #989c99;
    --H2-titles:#52575c;
    --button-content:#c2c7cc;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 2.5rem;
    --extralarge:5rem;
}

body {
    line-height: 1;
    font-family:'Poppins', sans-serif;
}
.header{
    width: 100%;
    position: fixed;
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 15px;
    font-size: var(--md);
    max-width: 100rem;
    height: 7.2rem;
    margin-left: auto;
    margin-right: auto;
}
.navbar a{
    text-decoration: none;
    color: var(--black);
    font-weight: 200;
}
.logo{
    margin-left: 1rem;
    font-weight: 200;
}
.list{
    list-style: none;
    display: flex;
    gap: 2.5rem;
}
.active-link:hover{
    color: var(--second-color);
}
.home_container{
    display: flex;
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
    padding: 15rem 0 2rem;
    column-gap: 2rem;
}
.home_social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icons{
    display: flex;
    flex-direction: column;
}
.icon{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: white;
    color:black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px 5px #b4b3b2,
    -0.5px -0.5px 5px #6b6b6a;
}
.icon:focus{
    animation: shadow .5s
    ease-in-out;
}
.home_social img{
    height: 2.5rem;
    width: 2.5rem;
}
.home_img img{
    border-radius: 50%;
}
.home_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.home_content .home_title{
    font-size: var(--extralarge);
    font-weight: 900;
    margin-bottom: 2rem;
}
.home_content .home_subtitle{
    font-size: var(--lg);
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.home_content .home_description{
    font-size: var(--md);
    font-weight: 200;
    color: var(--gray-green);
    margin: 0 2rem 2rem 2rem;
    line-height: 2;
}
.button--flex {
    display: inline-flex;
    align-items: center;
}
.button {
    display: inline-flex;
    justify-content: space-around;
    font-size: var(--sm);
    font-weight: 100;
    background-color: #f7d832;
    color: var(--black);
    width: 15rem;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
}
.home_scroll{
    display: block;
    font-size: var(--md);
    font-weight: 700;
    text-align: center;
    margin-top: 10rem;
}
.home__scroll-button{
    text-decoration: none;
    color: var(--black);
}
.home__scroll-name{
    color: var(--black);
    font-weight: 600;
}
.Aboutme__title{
    padding-top: 8rem;
    text-align: center;
    font-size: var(--extralarge);
    font-weight: bolder;
}
.Aboutme_description{
    color: var(--black);
    font-weight: bold;
    padding: 4rem 30rem 4rem 30rem;
    line-height: 3rem;
    text-align: justify;
    font-size: var(--md);
}
.about_info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0rem auto 3.5rem;
}
.about_info span{
    color: var(--black);
}
.about__info-title,.about__info-name{
    display: block;
    text-align: center;
}
.about__info-title{
    font-size: var(--lg);
    font-weight: bold;
    color: var(--black);
}
.about__info-name{
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
}
.about_button{
    justify-content: center;
    width: 100%;
    display: inline-flex;
    align-self: center;
    margin-bottom: 2rem;
}
.section__title, .section__subtitle{
    text-align: center;
}
.section__title{
    padding-top: 10rem;
    text-align: center;
    font-size: var(--extralarge);
    font-weight: bolder;
}
.section__subtitle{
    font-size: var(--lg);
    font-weight: 200;
    margin-top: 1rem;
}
.contact__container{
    margin:3rem 40rem;
}
.contact__content{    
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    background-color: #f7fcee;
}
.contact__label {
    font-size: var(--md);
    color: var(--black);
}
.contact__input {
    width: 100%;
    background-color: #f7fcee;
    color: var(--black);
    font-size: var(--md);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.footer{
    background-color: var(--footer-background);
    padding: 6.8rem 0rem 2.6rem;
    margin-top: 2rem;
    color: var(--white)
}
.footer__maincontainer{
    background-color: var(--footer-background);
}
.footer__container{
    height: 6.8rem;
    display: flex;
    justify-content: space-around;
}
.footer__title{
    color: var(--white);
    margin-bottom: 2.5rem;
    font-weight: 200;
    font-size: var(--lg)
}
.footer__subtitle{
    font-weight: 200;
    font-size: medium;
}
.footer__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 3.5rem;
}
.footer__links a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 200;
    font-size: var(--md);
}
.footer__socials {
    justify-self: flex-end;
    font-size: var(--lg);
    font-weight: 200;
}
.footer__social{
    color: var(--white);
    margin-left: 3rem;
}
.footer__copy {
    margin-top: 8.5rem; 
    text-align: center;
    font-size:var(--sm);
    color: var(--white)
}
@media screen and (max-width:900px){
    .header{
        display: none;
    }
    .home_container {
        display: flex;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 7.5rem;
        column-gap: 2rem;
    }
    .Aboutme_description{
        color: var(--black);
        font-weight: bold;
        padding: 4rem 10rem 4rem 10rem;
        line-height: 2.5rem;
        text-align: justify;
        font-size: var(--md);
    }
    .home_scroll{
        display: none;
    }
    .about_info {
        width: 80%;
        margin: 0rem auto 3.5rem;
    }
    .about_button {
        justify-content: center;
        width: 100%;
        display: inline-flex;
        align-self: center;
    }
}

@media screen and (max-width:650px) {
    .header{
        display: none;
    }
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        font-size: var(--md);
    }
    .list{
        flex-direction: column;
        align-items:center;
        padding: 2rem;
    }
    .home_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        column-gap: 2rem;
    }
    .home_content .home_description{
        margin: 0rem 1rem 2rem;
    }
    .home_content .home_subtitle{
        margin-left: 0rem;
    }
    .home_img img{
        border-radius: 50%;
        margin-bottom: 3rem;
    }
    .home_social {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .home_social .icon{
        margin: 0 2rem;
    }
    .home_social img{
        margin: 0rem 2rem;
    }
    .button {
        margin-left: 0rem;
        margin-bottom: 2rem;  
        align-self: center;
    }
    .home_scroll{
        display: none;
    }
    .Aboutme__title{
        padding-top: 5rem;
    }
    .Aboutme_description{
        color: var(--black);
        font-weight: bold;
        padding: 4rem 4rem 4rem 4rem;
        line-height: 2.5rem;
        text-align: justify;
        font-size: var(--md);
    }
    .about_button{
    justify-content: center;
    width: 100%;
    display: inline-flex;
    align-self: center;
    }
    .about_info {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0rem auto 3.5rem;
    }
    .about__info-title{
        font-size: var(--lg);
    }
    .about__info-name{
        font-size: var(--sm);
    }
    .footer {
        height: 10rem;
        padding: 10.8rem 0rem 2.6rem;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .footer__container-titles, .footer__links{
        margin-bottom: 2rem;
    }
    .footer__container-titles .footer__subtitle{
        display: inline-block;
        margin: 0 auto;
    }
    .footer__copy{
        margin-top:6rem
    }
}